.graph {
    margin-bottom: 30px;
}
.summary-section {
    margin-left: 40px;
}

.summary-item {
    width: 75%;
    margin-bottom: 30px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.summary-item-label {
    font-weight: bold;
    margin-bottom: 2px;
}

.summary-item-value {
    margin-left: 50px;
    margin-bottom: 2px;
}
