.content {
    margin-left: 30px;
    padding: 20px;
    margin-bottom: 30px;
    width: 80%;
    border: thin ridge #EBF4FA;
}

header {
    text-align: center;
}

footer {
    font-style: italic;
}

.response-section {
    margin-left: 40px;
}

.analysis-section {
    margin-left: 40px;
}

.summary-section {
    margin-left: 40px;
}

.chart-block {
     border: thin ridge;
     margin-bottom: 15px;
 }

.chart {
    margin-bottom: 50px;
}

.analysis-block {
    border: thin ridge;
    margin-bottom: 15px;
}

.response-count-block {
    width: 50%;
    margin-bottom: 50px;
    margin-left: 20%;
}

.response-count-title {
    font-weight: bold;
    margin-bottom: 2px;
}

.response-count-row {
    overflow: hidden;
    clear: both;
    margin-bottom: 5px;
}

.response-count-row:nth-of-type(even) {
    background-color: #EBF4FA;
}

.response-count-row:hover {
    background-color: #eee;
}

.response-count-label {
    width: 70%;
    float: left;
    margin-left: 50px;
    margin-bottom: 5px;
}

.response-count-value {
    width: 10%;
    text-align: right;
    float: right;
    margin-bottom: 5px;
}

.summary-item {
    width: 75%;
    border: thin ridge;
}

.summary-item-row {
    overflow: hidden;
    margin-bottom: 5px;
    clear: both;
}

.summary-item-label {
    font-weight: bold;
    float: left;
    width: 250px;
    overflow: hidden;
}

.summary-item-value {
    overflow: hidden;
}
